<div class="front__page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 slider-wrapper">
                <div class="slider">
                    <div class="slider__item show"><img src="http://via.placeholder.com/1100x500" class="img-responsive" alt="Slide 1"/></div>
                    <div class="slider__item"><img src="http://via.placeholder.com/1100x500" class="img-responsive" alt="Slide 2"/></div>
                    <div class="slider__item"><img src="http://via.placeholder.com/1100x500" class="img-responsive" alt="Slide 3"/></div>
                </div>
            </div>
        </div>
    </div>
</div>


