<div class="front__page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Привіт/</h1>

                <h2>Тестове завдання реалізовано на цьому демонстративному сайті.</h2>

                <ol>
                    <li>
                        <h3>Модалка на цій сторінці при завантаженні.</h3>

                        <h4>Складності:</h4>
                        <p>
                            Не було.
                        </p>
                        <h4>Часу зайняло:</h4>
                        <p>
                            1h
                        </p>

                    </li>

                    <li>
                        <h3>Соціальні кнопки знаходяться в футері або <a href="module2.html">тут</a>.</h3>

                        <h4>Можна було реалізувати:</h4>
                        <ol>
                            <li>Через JS</li>
                            <li>Через API сервісів + js/php.</li>
                            <li>Через php</li>
                            <li>Через ФБ, підключивши їхні щетчики-віджети.</li>
                        </ol>
                        <h4>Складності:</h4>
                        <p>
                            Особливих не було. Лише тільки скажу, не всі соціалки дають відображення к-сті шейрів.
                            А ФБ дозволяє зробити обмежену к-сть запитів до API урла з одного IP.
                        </p>
                        <h4>Часу зайняло:</h4>
                        <p>
                            1,5h
                        </p>
                    </li>
                    <li>
                        <h3>Слайдер <a href="module3.html">тут</a></h3>

                        <h4>Складності:</h4>
                        <p>
                            Як реалізувати анімацію. Що для цього використати, щоб була варіативність анімації.
                        </p>
                        <h4>Часу зайняло:</h4>
                        <p>
                            2h
                        </p>
                    </li>
                    <li>
                        <h3>Форма <a href="module4.html">тут</a></h3>

                        <h4>Складності:</h4>
                        <p>
                            Особливих не було
                        </p>
                        <h4>Часу зайняло:</h4>
                        <p>
                            1,5h
                        </p>
                    </li>

                </ol>


            </div>
        </div>
    </div>
</div>