<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="copyright">
                    © IkajoTest. 2017
                </div>
            </div>
            <div class="col-sm-4">
                <div class="socials">
                    <ul class="sharer">
                        <li>
                            <a class="sharer__button facebook" href="//www.facebook.com/sharer/sharer.php?u=">
                                <i class="fa fa-facebook"></i>
                                <span class="counter"></span>
                            </a>
                        </li>
                        <li>
                            <a class="sharer__button google-plus" href="//plus.google.com/share?url=">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 totop">
                <a href="" id="toTop">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </div>
    </div>
</footer>


<!-- Modals -->

<div class="test__modal__overlay"></div>

<div class="test__modal">
    <button role="button" class="test__modal-close" ></button>
    <div class="test__modal-content">
        <form action="">
            <h2>
                Register Please
            </h2>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>