<header class="header">
    <!--Navigation bar-->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="front-page.html">
                    IkajoTest
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="module2.html">Module 2</a></li>
                    <li><a href="module3.html">Module 3</a></li>
                    <li><a href="module4.html">Module 4</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <!--/ Navigation bar-->
</header>
