

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/bootstrap.js"></script>
<script src="https://use.fontawesome.com/05e1d5bbef.js"></script>
<script src="js/app.js"></script>


</body>
</html>
