/* Front Page */

html {
  position: relative;

  @media screen and (min-width: 768px){
    min-height: 100%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  @media screen and (min-width: 768px){
    margin-bottom: 70px;
  }
}

/* Content */

.front__page{
  padding-bottom: 50px;
}

/* Footer */

.footer {
  background-color: #000;
  padding: 0;
  color: #fff;
  line-height: 70px;

  @media screen and (min-width: 768px){
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.totop{
  text-align: right;
}

#toTop {
  border-width: 2px;
  border-color: rgba(90,104,115,0.302);
  border-style: solid;
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 40px;
  text-align: center;
  transition: all 0.5s ease;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}