/* Module Socials */

.sharer {
  padding: 0;
  margin: 25px 0 0 0;
  list-style: none;

  li {
    display: inline-block;
    margin-right: 4px;
  }
  &__button {
    font-size: 16px;
    line-height: 1em;
    text-align: center;
    width: 40px;
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;

    &:hover, &:active, &:focus{
      text-decoration: none;
    }

    &.facebook {
      color: white;
      background: #4966B6;
      &:hover {
        background: darken(#4966B6, 5%);
      }
    }

    &.google-plus {
      color: white;
      background: #CD3C2A;
      &:hover {
        background: darken(#CD3C2A, 5%);
      }
    }
  }
}