/* Module Slider */

.slider-wrapper{
  overflow: hidden;
}

.slider {
  position: relative;
  padding: 0;
  list-style-type: none;
  margin: 0 auto;

  &__item {

    &:first-child{
      position: relative;
      z-index: 2;
    }

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    box-sizing: border-box;

    img {
      margin: 0 auto;
    }

    &.show {
      opacity: 1;
      z-index: 2;
    }

  }

}
