/* Module Popap */

.test__modal__overlay{
  display: none;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  background: rgba(0, 0, 0, 0.5);
}

.test__modal{
  display: none;
  max-width: 850px;
  margin: 0 auto;
  padding: 25px 30px;
  width: 100%;
  position: fixed;
  top: -200px;
  right: 0;
  left: 0;
  z-index: 99999;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.17);

  @media screen and (max-width: 1024px) {
    width: 95%;
  }

  &-content{

  }

  &-close{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 25px;
    width: 25px;
    background: #fff;
    z-index: 999;
    border: 0;

    &:after, &:before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #484848;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after{
      transform: rotate(-45deg);
    }

  }
}

.slider-wrapper{
  overflow: hidden;
}

.slider {
  position: relative;
  padding: 0;
  list-style-type: none;
  margin: 0 auto;

  li.slide {

    &:first-child{
      position: relative;
      z-index: 2;
    }

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    box-sizing: border-box;

    img {
      margin: 0 auto;
    }

    &.show {
      opacity: 1;
      z-index: 2;
    }

  }

}
