<div class="front__page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    Поділіться сторінкою:
                </h2>
                <ul class="sharer">
                    <li>
                        <a class="sharer__button facebook" href="//www.facebook.com/sharer/sharer.php?u=">
                            <i class="fa fa-facebook"></i>
                            <span class="counter"></span>
                        </a>
                    </li>
                    <li>
                        <a class="sharer__button google-plus" href="//plus.google.com/share?url=">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


