<div class="front__page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 formModule">
                <h1>
                    Задать вопрос
                </h1>
                <form action="" method="post" id="form-contact" autocomplete="off">
                    <div class="form-group">
                        <label for="exampleInputFIO">ФИО</label>
                        <input type="text" class="form-control" id="exampleInputFIO" placeholder="ФИО">
                        <span class="control-label"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" class="form-control email" autocomplete="off" id="exampleInputEmail1" placeholder="Email">
                        <span class="control-label email-control"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPhone">Tелефон</label>
                        <input type="text" class="form-control phone" id="exampleInputPhone" placeholder="Tелефон">
                        <span class="control-label phone-control"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputQues">Задать вопрос</label>
                        <textarea class="form-control" id="exampleInputQues" placeholder="Ваш вопрос" rows="3"></textarea>
                        <span class="control-label"></span>
                    </div>
                    <button type="submit" class="btn btn-default">Задать вопрос</button>

                    <div id="succsses"></div>
                </form>
            </div>
        </div>
    </div>
</div>


